header {
  background-color: #f5f5f5;
}
nav {
  background-color: rgba(0, 0, 255, 0.3);
}
.page-header {
  background-color: #bdbdbd;
}
.page-title {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  line-height: 1.333;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px #212121;
}
.section-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.333;
  letter-spacing: 1px;
}
.section-text {
  line-height: 1.5;
  text-indent: 24px;
}
.page-footer {
  background-color: #212121;
}
.copyright-text {
  color: #ffffff;
}
.club-list .title {
  font-size: 16px;
  text-align: center;
  line-height: 1.333;
}
.club-list .link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.page-nav .link {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.club-list .link:hover,
.club-list .link:focus {
  text-decoration: underline;
}
.page-nav .link:active {
  color: #212121;
}
.club-list .link:active {
  color: #ff1744;
}
body {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 14px;
  background-color: #fafafa;
  line-height: 1.5;
}
.downloads .link {
  text-decoration: none;
}
.downloads .link:hover,
.downloads .link:focus {
  text-decoration: underline;
}
.downloads .plan-name {
  color: #ff1744;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}
ul {
  list-style-type: none;
}
