/* Стилі для хедера */
.page-header {
  display: flex; /* Використовуємо Flexbox для вирівнювання елементів у хедері */
  justify-content: space-between; /* Розподіляємо простір між логотипом та навігацією */
  align-items: center; /* Вирівнюємо елементи по вертикалі */
  padding: 10px 20px; /* Відступи всередині хедера */
  background-color: #bdbdbd;
}

/* Стилі для логотипа */
.page-header a img {
  display: block; /* Виправляє відображення картинки (логотипа) */
}

/* Стилі для навігації */
.page-nav {
  display: flex; /* Вирівнюємо елементи навігації в один рядок */
  gap: 20px; /* Відступи між елементами навігації */
}

.page-nav .link {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #212121;
  transition: color 0.3s ease;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: #ff1744; /* Колір при наведенні */
}

.page-nav .link:active {
  color: #212121;
}

/* Стилі для блоку завантаження */
.downloads {
  display: flex; /* Вирівнюємо всі посилання в один рядок */
  gap: 20px; /* Відступи між посиланнями */
  flex-wrap: wrap; /* Якщо посилань багато, дозволяємо перенос на новий рядок */
}

.downloads .link {
  text-decoration: none;
  padding: 8px 12px;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: block; /* Надаємо посиланню блочний вигляд */
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap; /* Забороняємо перенос тексту всередині посилання */
}

.downloads .link:hover,
.downloads .link:focus {
  background-color: #ff1744;
  color: #ffffff; /* Колір тексту при наведенні */
  text-decoration: underline;
}

.downloads .link:focus {
  color: #000000; /* Колір тексту при фокусі */
}

.downloads .plan-name {
  color: #0a090a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

ul {
  list-style-type: none;
}
